Объяснение как работает вебхук в яндекс мессенджере.docx
# Игнорировать любые файлы, имя которых начинается с тильды
~*
# Игнорировать временные файлы Microsoft Office (часто начинаются с ~$ или .~ )
~$*
.~*